@charset "utf-8";

@font-face {
   font-family: Quicksand;
   src: url('Quicksand-Regular.woff') format('woff'),
      url('Quicksand-Regular.ttf') format('truetype');
}

/* HTML and Body Styles */

html {
   background-color: hsl(27, 72%, 72%);
}

body {
   color: rgb(91, 91, 91);
   background-color: ivory;
   font-family: Verdana, Geneva, sans-serif;
}





/* Heading Styles */
h1,
h2 {
   font-family: Quicksand, Verdana, Geneva, sans-serif;
   letter-spacing: 0.1em;
}

h1 {
   font-size: 2.2em;
}

h2 {
   font-size: 1.5em;
}

article#about_tss h1 {
   color: white;
   background-color: rgb(222, 128, 60);
}

article#about_tss h2 {
   color: white;
   background-color: rgb(235, 177, 131);
}

article.syllabus h1,
article.syllabus h2 {
   color: rgb(101, 101, 101);
   background-color: rgb(255, 185, 255);
}





/* Aside and Blockquote Styles */

aside blockquote {
   color: rgb(232, 165, 116);
}

aside {
   font-size: 0.8em;
}



/* Navigation Styles */

nav {
   font-size: 0.8em;

}

nav>ul {
   line-height: 2em;
}



/* List Styles */





/* Footer Styles */
body>footer address {
   background-color: rgb(222, 128, 60);
   color: white;
   color: rgba(255, 255, 255, 0.7);
   font: normal small-caps bold 0.9em/3em Quicksand, Verdana, Geneva, sans-serif;
   text-align: center;
}